# Node / Angular
web/node_modules/
web/.angular/
web/dist/

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.pub/
mobile/linux/flutter/ephemeral/
mobile/windows/flutter/ephemeral/

# General
.env
.DS_Store